body {
    background-color: darksalmon;

}

.profile {
    border-radius: 100%;
}

.logo {

    display: inline-block;
    font-size: 80px;
    font-style: oblique;
    margin: 9px 0px 0px 20px ;
    font-family: 'Caveat', cursive;
    color:wheat;
}

.header {
    background-image: url("./Assets/bg2.jpg");
    width: 100%; 
    border-top: 1px solid black;   
}

.headline {
    margin-left:10%;
    display:inline-block;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 50px;

}

.profile-picture {
    border-radius: 50%;
    display: inline;
    width:150px;
    height:150px;
    float:right;
    margin-right: 20px;
}
.nav-menu {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.navbar {
    list-style: none;
    background-color: wheat;
    margin:0;
    padding: 1% 0 1% 1% ;
}

.navbar >li {
    display: inline;
    font-size: 20px;
    margin-right: 1%;
    margin: 1%;
}

.navbar>li>a {
    text-decoration: none;
    font-size: 22px;
    color:darkolivegreen
}
.navbar>li>a:hover {
    background-color: lightgray;
}

.project {
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
    border: 2px solid #ffff;
    border-radius: 2%;
    width:auto;
}
.project p {
    margin: 12px 30px;
}

.title {
    font-size: 30px;
    text-align: center;
    margin: 20px 0 40px 0 ; 
}

ol {
    list-style: none;
}

img {
    border-radius: 1%;
}
.screenshots {
    padding-left:5%;
    padding-right: 5%;
    align-items: center;
}
.screenshot {
    display:inline-block;
    width:49%;
}
.screenshot img {
    width:100%;
}
.perfume-collection .s1 {
    width:70%;
}
.perfume-collection .s2 {
    width:60%;
}
.radio .screenshot {
    display:block;
    width: 70%;
}
.telephone .screenshot {
    width: 60%
}

.diamond-ring .screenshot {
    width: 80%;
    display:block;
}

.video {
    width:80%;
    margin-left: 10%;

    text-align: center;
    align-items: center;
}

.helicopter video{
    width:100%;
}

.diamond-ring video {
    text-align: center;
    width:100%;
}
.diamond-ring .video{
    margin-left: 0;
}

.others-item {
margin-right: 1.5%;
}

.others-item img{
    max-width: 100%;
}

.others-list h4 {
    font-size:20px;
    margin:40px 0 10px 0;
}

.others-list {
    padding-left:5%;
    padding-right: 5%;
}

.cv {
    max-width:100%;
    border-radius: 5%;
    border: 2px solid black;
    margin-top: 1%;

}

.cv-container {
    padding:1% 1% 1% 1%;
}

.cv-container .date-container {
    align-items: center;
    align-content: center;
    text-align: center;
}

.cv-container .update-date {
    color: gray;
    margin:0px auto;
    max-width:230px;
    font-size: 20px;
    background-color: white;
    border-radius: 0%;
    border: 1px solid black;
    
    
}

@media (max-width:625px) {
    .profile-picture {
        display: none;
    }
}

@media (max-width:1076px) {
    .profile-picture {
        width:100px;
        height:100px;
    }
    .logo {
        font-size: 40px;
    }
    .headline {
        font-size: 30px;
    }
}

@media(max-width:800px) {
    .screenshot {
        display: block;
        width: auto;
        max-width:90%;
    }
    .video {
        margin:0;
        width: 90%;
    }
    .cv-container .update-date {
        max-width:200px;
        font-size: 16px;
    }
}

@media(max-width:491px) {
    .date-container {
        display: none;
    }
}